{% set classList = "footer__icon" %}
{% set icon = icon | default('github') %}

<footer class="footer">
    <div class="layout__page">
      <div class="footer-socials">
        <a class="footer-socials__link" href="https://github.com/airalab">
					{% set icon = "github" %}
						{% include "./components/icon.njk" %}
        </a>
        <a class="footer-socials__link" href="https://discord.gg/JpaN2XAmqY">
					{% set icon = "discord" %}
				{% include "./components/icon.njk" %}
        </a>
        <a class="footer-socials__link" href="https://twitter.com/AIRA_Robonomics">
					{% set icon = "twitter" %} {% include "./components/icon.njk" %}
        </a>
      </div>
      <div class="footer__links">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="{{'/docs/edit-wiki/' if page.lang == 'en' else '/' + page.lang + '/docs/edit-wiki/'}}">
             {{'How to edit Wiki' | t}}
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="{{'/privacy-policy/' if page.lang == 'en' else '/' + page.lang + '/privacy-policy/'}}">
              {{'Privacy Policy' | t}}
            </a>
          </li>
        </ul>

        {% if not (page.lang == 'en') %}
          <div class="footer-text">
            <span class=""> {{'Translation was executed by AI so there may be some inaccuracies' | t}} </span>
            <a href="https://github.com/airalab/robonomics-wiki/issues"> {{'Inform us' | t}} </a>, {{'please, if you find any' | t}}
          </div>
        {% endif %}

      </div>
    </div>
  </footer>
</body>
</html>