<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}} || {{ metadata.title }}</title>
  <meta name="title" content=" {{title}} || {{ metadata.title }}">
  <meta name="description" content="{{ metadata.description }}">


  <!-- Favicon  -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">

  {# styles #}
<link rel="stylesheet" href="/assets/css/main.css?{{ assetHash }}" />

  {# js code #}
  <script defer type="module" src="/assets/js/index.js"></script>
</head>
<body>
  <header class="header">
    <div class="layout__page">

      <div class="header-top">

        <a href="/{{ page.lang if page.lang !== 'en' }}" class="header-logo">
          <img alt="Robonomics logo" src="/assets/images/robonomic-logo-robo.svg"/>
          <span>Robonomics WIKI</span>
        </a>
        <div class="header-center">
					{% include "./components/searchBar.njk" %}
        </div>

        <div class="header-nav">
					{% include "./components/languageSwitcher.njk" %}
					{% include "./components/headerNav.njk" %}
        </div>

      </div>

			{% if page.url.length <= 4 %}
				<div id="sidebarDocs" popover class="sidebar page__sidebar custom-scroll sidebar--no-doc">
					{% include "./sidebar.njk" %}
				</div>
			{% endif %}
    </div>
  </header>