<div class="sectionToggler" >
	<button ligh class="btn header-nav__icon header-nav__sidebar-docs" popovertarget="sidebarDocs"></button>
	{% if page.url.length > 4 %}
		<button class="btn header-nav__icon header-nav__sidebar-content" popovertarget="sidebarContent"></button>
	{% endif %}
</div>


