  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(255, 255, 255, 0); display: block; shape-rendering: auto;" width="194px" height="194px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loader">
    <g transform="rotate(0 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-1.0784313725490198s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(30 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.9803921568627452s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(60 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.8823529411764707s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(90 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.7843137254901962s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(120 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.6862745098039216s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(150 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.5882352941176471s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(180 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.4901960784313726s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(210 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.3921568627450981s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(240 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.29411764705882354s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(270 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.19607843137254904s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(300 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="-0.09803921568627452s" repeatCount="indefinite"></animate>
      </rect>
    </g><g transform="rotate(330 50 50)">
      <rect x="46.5" y="22.5" rx="3.5" ry="3.5" width="7" height="7" fill="#fff">
        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1.1764705882352942s" begin="0s" repeatCount="indefinite"></animate>
      </rect>
    </g>
  </svg>