<div id="matomo-opt-out" style="font-size: 18px;"></div>

{# for tanslation

{{'Opt-out complete; your visits to this website will not be recorded by the Web Analytics tool.' | t}}

{{'Note that if you clear your cookies, delete the opt-out cookie, or if you change computers or Web browsers, you will need to perform the opt-out procedure again.' | t}}

{{'You may choose to prevent this website from aggregating and analyzing the actions you take here.' | t}}

{{'Doing so will protect your privacy, but will also prevent the owner from learning from your actions and creating a better experience for you and other users.' | t}}

{{'The tracking opt-out feature requires cookies to be enabled.' | t}}

{{'The tracking opt-out feature may not work because this site was not loaded over HTTPS. Please reload the page to check if your opt out status changed;' | t}}

{{'You are not opted out.' | t}}

{{'Uncheck this box to opt-out.' | t}}

{{'You are currently opted out.' | t}}

{{'Check this box to opt-in.' | t}}
#}