  <a class="question__link" href="https://discord.com/invite/JpaN2XAmqY">
    <span class="question__icon">?</span>
    <span class="question__text">
      {{'Ask your question' | t}}
    </span>
  </a>