.button
	{
		display: inline-block;
		padding: .5rem .8rem;
		text-decoration: none;
		// font-weight: 700;
		border: 1px solid var(--link-color);
		transition: 0.2s all ease-in;

		&__primary{
			background-color: var(--link-color);
			color: var(--body-bg) !important;
		}

		&__secondary {
			&, &:visited { color: var(--link-color); }

			svg path { fill: var(--link-color); }

			&:hover {
				background-color: var(--link-color);
				color: var(--body-bg);
				svg path { fill: var(--body-bg); }
			}
			
		}

		&__small {
			transform: scale(0.8);
			transform-origin: 0 0;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		svg, span {
			display: inline-block;
			vertical-align: middle;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}