input, select, textarea{
	// border: 1px solid var(--border-color);
	border: 0;
	background-color: var(--body-bg);
	border-radius: var(--radius);
	font-size: calc(var(--font-size) * 0.85);
	font-weight: 500;
	font-family: var(--font-family);
	text-transform: uppercase;
    letter-spacing: 1px;

	appearance: none;
    -webkit-appearance: none;
    outline: 0;
}

select {
	padding: .3rem 1.5rem .3rem 1rem;

	background-image: url("data:image/svg+xml;utf8,<svg fill='#162128' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: .15rem;
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
	// padding: .3rem .8rem;
	padding: .3rem;
}