.main {
	margin: 0 auto;
	padding-bottom: var(--space);
	position: relative;
}

.layout{
	display: flex;
	flex-direction: column;
	height: 100%;

	.footerPusher{
		flex: 1 0 auto;
	}

	.footer{
		flex-shrink: 0;
	}
}
  
 
  .layout__content, .layout__page {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding-left: var(--space);
	padding-right: var(--space);
}

.layout__content {
	max-width: var(--content-width);
}

.layout__page {
	max-width: var(--page-width);
}

.page {
	padding-top: var(--space);
}

.removeScroll {
	// position: fixed;
	overflow: hidden;
}