* 
{
	margin:0; padding:0; outline: 0;
    background:transparent;
    vertical-align:baseline;
}

img {border: 0;}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section, main 
{
    display:block;
}

nav ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
input, select {vertical-align:middle;}

sup { vertical-align: super; }
sub { vertical-align: sub; }