@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-thin-webfont.woff2') format('woff2');
  src: url('../fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2');
  src: url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
  src: url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2');
  src: url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
  src: url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}