.main {
	margin: 0 auto;
	padding-bottom: var(--space);
	position: relative;
}

.layout{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: hidden;
}

.layout .footerPusher{
	flex: 1 0 auto;

}

.all-content {
	height: 100%;
	overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--color-border);
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: var(--title-color);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.layout > .custom-scroll::-webkit-scrollbar-thumb  {
	visibility: hidden;
}

.active.custom-scroll::-webkit-scrollbar-thumb {
	visibility: visible;
}

.layout .footer{
	flex-shrink: 0;
}
 
.layout__content, .layout__page {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding-left: calc(var(--space) * 0.5);
	padding-right: calc(var(--space) * 0.5);
}

.layout__content {
	max-width: var(--content-width);
}

.layout__page {
	max-width: var(--page-width);
}

.page {
	padding-top: var(--space);
}

.removeScroll {
	overflow: hidden;
}