.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.flex-line {
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.ui-caption{
	font-size: 0.800em;
	color: rgba(var(--body-bg), 0.6);
	font-style: italic;
}

@media screen and (max-width: 1080px) {
	.hiddenMobile { display: none !important; }
}

@media screen and (max-width: 720px) {
	.hiddenMobile--720 { display: none !important; }
}

@media screen and (min-width: 1080px) {
	.hiddenDesktop { display: none !important; }
}

@media screen and (min-width: 720px) {
	.hiddenDesktop--720 { display: none !important; }
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
}

.my-tracker .user-tracker__form  {
  padding-left: 0;
}