---
layout: "home"
title: "与导游一起探索 Robonomics"
description: "通过教程和实用的实验来学习 Robonomics。 本文档旨在帮助您在 Robonomics Network 中连接机器人或编写 dApp。"
permalink: '/zh/index.html'
---

<img alt="" class="intro-image" src="../assets/images/robonomics-lab.png"/>

<div class="intro">
	<h1>与导游一起探索 Robonomics</h1>
	<div class="intro-description">通过教程和实用的实验来学习 Robonomics。 本文档旨在帮助您在 Robonomics Network 中连接机器人或编写 dApp。</div>

	{% set links = [{ to: '/docs/robonomics-smart-home-overview/', name: 'Home Assistant integration'}, {to: '/docs/ir-controller/', name: 'Robonomics smart devices'}, { to: '/docs/glossary/', name: 'Working with parachain' }]%}
	{% include 'components/gridLinks.njk' %}
</div>
