---
permalink: ru/privacy-policy/
layout: "home"
title: Privacy Policy
description: Learn Robonomics through tutorials and practically useful experimenting. This documentation is designed to help you connect robots or code dApps within Robonomics Network.
---

{% include "../../_includes/privacy-content.njk" %}