.menu-subtitle {
	padding-top: 5px;
	cursor: pointer;
	font-size: 1rem;
	margin-bottom: .5rem;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 0;
	color: var(--text-color);
}

.menu-subtitle:not(:first-child) { margin-top: 20px; }

.menu-link{
	color: var(--text-color)!important;
	line-height: 1.6;
	text-decoration: none;
}

.with-active-link .menu-link{
	color: var(--link-color) !important;
}

.menu {
	list-style: none;
	margin: 0;
	font-size: 1rem;
	margin-bottom: 1.6rem;
}


.menu-link.active {
	cursor: default;
}

.menu-link:not(.active):hover,
#sidebarContent .toc ol li a:hover {
background-color: var(--color-focus-light);
}

.menu:not(:first-child) {
  padding-left: calc( var(--space) / 4);
}

.menu::selection {
  background-color: transparent;
}

.menu-details[open] .menu{
	border-left: 1px solid var(--link-color);
}


.menu-subtitle:after {
  content: "[+]";
	margin-left: 6px;
}


.menu-details[open] > .menu-subtitle:after {
  content: "[-]"
}

#sidebarContent .toc ol {
	list-style: none;
	font-size: 1rem;
	margin-left: 0;
}

#sidebarContent .toc ol li a {
	font-weight: 600;
	color: var(--text-color);
	text-decoration: none;
}

#sidebarContent .toc ol li a ~ ol {
	font-size: .8rem;
	opacity: .6;
}

#sidebarDocs:not(:popover-open):not(dialog[open]),
#sidebarContent:not(:popover-open):not(dialog[open]) {
	display: block;
	/* position: static; */
	border: none
}

.sidebar--no-doc#sidebarDocs:not(:popover-open):not(dialog[open]) {
	display: none;
}


@media screen and (max-width: 1080px) {
	#sidebarDocs:not(:popover-open):not(dialog[open]) {
		display: none;
	}
}


@media screen and (max-width: 720px) {
	#sidebarContent:not(:popover-open):not(dialog[open]) {
		display: none;
	}
}

