{% include 'header.njk' %}
  <main class="main layout__page">
    <section class="section home layout">
			<div class="footerPusher">
					<div class="container home__container">
							{{content | safe}}
					</div>
        </div>
    </section>
  </main>
{% include 'footer.njk' %}