/* helpers */
@import "./helpers/normalize.css";
@import "./helpers/prism-theme.css";

@import "./fonts.css";
@import "./vars.css";
@import './base.css';
@import './reset.css';
@import './utils.css';
@import './typography.css';
@import './layouts.css';

@import './components/header/header.css';
@import './components/footer.css';

/* pages/components */
@import './components/code.css';
@import './components/menu.css';
@import './components/header/search.css';
@import './components/header/languageSwitcher.css';
@import './components/header/headerNav.css';
@import './components/sidebar.css';
@import './components/breadcrumbs.css';
@import './components/checkbox.css';
@import "./components/matomo.css";

/* pages */
@import './pages/home.css';
@import './pages/doc/doc.css';
@import './pages/doc/post.css';
@import './pages/privacy-policy.css';
@import './pages/page-404.css';

/* robo-wiki components */
@import "./components/robo-wiki/note.css";
@import "./components/robo-wiki/button.css";
@import "./components/robo-wiki/picture.css";
@import "./components/robo-wiki/video.css";
@import "./components/robo-wiki/tabs.css";
@import "./components/robo-wiki/grid.css";
@import "./components/robo-wiki/feedback.css";
