  {% include 'header.njk' %}
  <main>
    <section class="section about">
      <div class="container page-404__container">
        <div class="page-content page-404___content">
          Nothing here...
        </div>
      </div>
    </section>
  </main>
{% include 'footer.njk' %}