---
permalink: ko/privacy-policy/
layout: "home"
title: Privacy Policy
description: This Policy describes the information we collect from you, how we use that information and our legal basis for doing so. It also covers whether and how that information may be shared and your rights and choices regarding the information you provide to us.
---

{% include "../../_includes/privacy-content.njk" %}