{# retutn to main after tests #}
{% set ghLink = "https://github.com/airalab/robonomics-wiki/blob/main/src" + page.filePathStem + ".md" %}
					        
{% if github and github.length %}

{% set ghLastUpdate = github | getCommit(page.fileSlug + ".md")%}

{% if ghLink %}
 <section class="docContribution">
	{% if contributors and contributors.length %}
	<div class="page-title-meta">
		<span> {{'Main contributors:' | t}} </span>
			{% for contributor in contributors %}
				<a target="_blank" href="{{'https://github.com/'+contributor}}"> @{{contributor}}</a>
				{% if not loop.last %}<span>, </span> {% endif %}
			{% endfor %}
	</div>

		<div class="content">
			<div class="github-title">
				<div class="icon">
				{% set icon = "github" %}
					{% include "../icon.njk" %}
				</div>
				<h5>{{'Make a contribution' | t}}</h5>
			</div>
			<p> {{"Robonomics wiki is open source. See something that's wrong or unclear?" | t}}
				<a href="{{ghLink}}" class="submit" target="_blank">{{'Submit' | t}}</a> {{'a pull request.' | t}} 
			</p>
		</div>

		{% if ghLastUpdat and ghLastUpdate.length %}
		<div class="head">
			 <a target="_blank" class="submit" href="{{ghLastUpdate[0].url}}"> Latest {{'commit' | t}}</a> {{'on' | t}} {{ghLastUpdate[0].date | readableDate("dd.MM.yyyy")}} {{'by' | t}} {{ghLastUpdate[0].author}}
		</div>
		{%  endif %}

	{%  endif %}
 </section>
{% endif %}
{%  endif %}